h1, p {
  font-family: Lato;
}
.dataTables_wrapper .dataTables_paginate .paginate_button
{
padding: 3px 10px !important;
}
.dataTables_wrapper .dataTables_filter input
{
  padding: 1px !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 4px 10px  !important;
}
thead >tr, tfoot >tr
{
      background-color: aliceblue;
}